<div class="carousel pb-5">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/banner.png" alt="Slide One">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/banner.png" alt="Slide Two">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/banner.png" alt="Slide Three">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
